div{
    background-color: blue;
    width: 200px;
    height: 200px;
    /* animation: anim 2s ease-in-out 1s infinite; */
    transition: 1s ease;

}
/* @keyframes anim { */
    /* from{

    }
    to{

    } */
    /* 0%{
        width: 0px;
        background-color: aqua;
        

    }
    25%{
        width: 25px;
        background-color: blue;
    }
    50%{
        width: 75px;
        background-color: black;
    }
    100%{
        width: 155px;
        background-color: blueviolet;
    }
    125%{
        width: 205px;
        background-color: brown;
    }
    150%{
        width: 250px;
        background-color: chartreuse;
    }
} */
div:hover{
    transform: rotate(45deg);
}