div{
    background-color: rgb(30 34 47);
    width: 400px;
    height: 500px;
    border: solid grey 8px;
    border-radius: 20px;
    margin-left: 600px;
    margin-top: 100px; 
    padding-left: 20px;
    padding-top: 250px;


}
p{
    font-size: large;
    color: antiquewhite;
}